<div class="wrapper d-flex justify-content-center align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 d-flex flex-column justify-content-center mb-2 py-4 py-lg-0 px-3 px-lg-5">
        <div class="d-flex flex-column align-items-center">
          <div class="img-wrapper d-flex justify-content-center align-items-center mb-4">
            <img class="rounded-circle" [src]="user.picture.large" alt="">
          </div>
          <div class="text-center mb-5">
            <p class="fw-bold mb-0">{{user.name.first}} {{user.name.last}}</p>
            <small>{{user.email}}</small>
          </div>
        </div>
        <app-tabs></app-tabs>
      </div>
      <div class="col-lg-7 p-3 p-lg-0">
        <div class="card border-0">
          <div class="tab-content w-100" id="myTabContent">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
