dt {
    font-size: 8px;
    font-weight: 400;
    text-transform: uppercase;
    color: #9A9A9A;
}
dd {
    font-size: 14px;
    color: #575757;
}
.accordion-button:not(.collapsed) {
    color: #000;
    background-color: transparent;
    box-shadow: none;
}
.accordion-button:focus {
    border-color: transparent;
    box-shadow: none;
}